*
!/.env.sample
!/app/etc/env.php.staging.sample
!/app/etc/env.php.sample
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
#!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/test/stress/**
!/test/acceptance/**
!/lyracons.yml
!/patches
!/patches/**
!/env
!/env/**
!/app/etc/webrestrictions.xml
!/test.md

# WARP FRAMEWORK
!/warp
!/.warp
!/.warp/**
/.env
/docker-compose-warp.yml
/docker-compose-warp-mac.yml
/docker-sync.yml
!/docker-compose-warp.yml.sample
!/docker-compose-warp-mac.yml.sample
!/docker-sync.yml.sample
/.self-update-warp
/.docker-sync
/.warp/docker/volumes
/.warp/docker/dumps
/.warp/setup
/.warp/lib
/.warp/bin
/.warp/docker/config/php/ext-xdebug.ini
/.warp/docker/config/php/ext-ioncube.ini
# FRAMEWORK WARP

# Exclude modules copied by composer map
# Start Deployment process
!Jenkinsfile
!swg_ci.yml
# End Deployment process

!/pub/media/wysiwyg/pearl_theme
!/pub/media/css_weltpixel
!/pub/media/weltpixel
!/pearl_cloud_setups.sh
